/*Todo*/
a{
    display: block;
    text-decoration: none; 
    border: none;  
    list-style: none;
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
}
a:hover{
    background-color: #11be28;
    box-shadow: 0 0px 7px rgb(209, 252, 160);
}
#CorreoC:hover{
    background-color: #aa4a0a;
    box-shadow: 0 0px 7px rgb(252, 180, 46);
}
p{
    color: white;
}
td{
    color: white;
}
head{
    background-color: rgb(53, 52, 52);
    display: flex;
}
meta{
    background-color: rgb(53, 52, 52);
}
body{
    background-color: rgb(53, 52, 52);
}
#SeccionGeneral1{
    display: flex;
}
@media (min-width: 1080px){
    #SeccionGeneral2{
        margin-top: 10% !important;
    }
}
@media (max-width: 1080px){
    #SeccionGeneral2{
        margin-top: 20% !important;
    }
}
@media (max-width: 720px){
    #SeccionGeneral2{
        margin-top: 25% !important;
    }
}
@media (max-width: 550px){
    #SeccionGeneral2{
        margin-top: 30% !important;
    }
}
@media (max-width: 420px){
    #SeccionGeneral2{
        margin-top: 35% !important;
    }
}
@media (max-width: 290px){
    #SeccionGeneral2{
        margin-top: 40% !important;
    }
}
@media (max-width: 120px){
    #SeccionGeneral2{
        margin-top: 45% !important;
    }
}
#IframeGeneral{
    position: absolute;
    border: none;
}
@media (min-width: 550px){
    #DivFooter{
        margin-top: 30%;
        margin-left: 5%;
        text-align: left;
    }
}
@media (max-width: 550px){
    #DivFooter{
        margin-top: 50%;
        margin-left: 5%;
        text-align: left;
    }
}
/*Fin*/

/*Pagina General*/
#HeadG{
    background-color: none;
}
/*Fin*/

/*Pagina 1 inicio*/ 
#BodyI{
    background-image: url('../Multimedia/Imagenes/Render1.jpg');
    background-size: cover; 
    background-position: top left;
}
@media (max-width: 1050px){
    #BodyI {
        background-image: url('../Multimedia/Imagenes/FondoCelularI.png');
    }
}
#Tabla1I{
    background-color: black; 
    width: 100%; 
    border-collapse: collapse; 
    border: 10px solid black;
}
#Div1I{
    width: 95%;   
    font-family: monospace;
    padding: 5px 5px;
    text-align: center;
    margin-top: 10%;
    border-radius: 0%;
    border-start-end-radius: 0%;
    background-color:  rgb(95, 95, 95, 0.3); ; color: white; width: 98.5%;
    /*box-shadow: 0px 4px 10px #fff;*/
}
#Div2I{
    width: 98.5%;   
    font-family: monospace;
    padding: 5px 5px;
    text-align: center;
    margin-top: 2%;
    border-radius: 0%;
    border-start-end-radius: 0%;
    color: red;
}
#Div3I{
    width: 30%;   
    font-family: monospace;
    padding: 5px 5px;
    text-align: center;
    margin-top: 2%;
    border-radius: 0%;
    border-start-end-radius: 0%;
    background-color:  rgb(95, 95, 95, 0.3); color: white; width: 98.5%;
    /*box-shadow: 0px 4px 10px #fff;*/
}
/*Fin*/

/* SubPagina 2 Casas en Venta php*/
#BodyCVphp{
    font-family: Arial, sans-serif !important;
    padding: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: initial !important;
    height: 315vh !important;
    margin: 0 !important;
    background-color: #5c5555 !important;
}
.Div1CVphp{
    width: 850px !important;
    height: 80vh !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
    padding: 10px! important;
    box-sizing: border-box !important;
}
.Div1CVphp img{
    width: 100% !important;
    height: auto !important;
    border-radius: 1px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}
.LineaCVphp{
    margin-top: 1px !important;
    width: 100% !important;
    height: 3px !important;
    background-color: red !important;
}
/*Fin*/

/*Pagina 2 Casas en Venta*/
#Tabla1CV{
    margin-top: 3% !important; 
    width: 100% !important;  
    border-collapse: collapse !important; 
}
#Encabezado1CV, #Encabezado2CV{
    color: white !important; 
}
#BodyCV{
    /*overflow: hidden;*/
    background-color: rgb(53, 52, 52) !important; 
}
#Seccion1CV{
    text-align: center !important;  
}
@media (max-width: 300px){
    #Seccion1CV {
        margin-top: 70% !important;
    }
}
#Seccion2CV{
    display: flex !important; 
    justify-content: center !important; 
    align-items: center !important; 
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box 100% !important; 
}
#IframeCV{
    width: 99% !important; 
    height: 99% !important; 
    max-width: 1080px !important;  
    height: auto !important;
    aspect-ratio: 10000 / 10000 !important;  
    border: none !important; 
}
/*Fin*/

/*Pagina 3 Sobre Nosotros*/
#BodySN{
    background-image: url('../Multimedia/Imagenes/FondoSobreNosotros.jpeg');
    background-size: cover;
    background-position: top left;
}
@media (max-width: 1050px){
    #BodySN {
        background-image: url('../Multimedia/Imagenes/FondoCelular1SN.JPG');
    }
}
@media (max-width: 650px){
    #BodySN {
        background-image: url('../Multimedia/Imagenes/FondoCelular2SN.JPG');
    }
}
@media (max-width: 490px){
    #BodySN {
        background-image: url('../Multimedia/Imagenes/FondoCeluar3SN.png');
    }
}
#Txt1SN{
    margin-top: -1%;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Txt2SN{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Txt3SN{
    width: 95%;   
    font-size: 20px;
    background-color: rgb(133, 131, 131, 0.5);
    font-family: monospace;
    padding: 5px 5px;
    text-align: center;
    margin-top: 5%;
    border-radius: 0%;
    border-start-end-radius: 0%;
}
#Seccion1SN, #Txt4SN {
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 0;
    padding: 0;
}
#Seccion1SN iframe {
    width: 50%; 
    height: 50%; 
    max-width: 800px;
    max-height: 600px; 
}
#DivFooterSN{
    margin-top: 3%;
    margin-left: 5%;
    text-align: left;
}
/*Fin*/

/*Pagina 4 Contactos*/
#Txt1C{
    margin-top: -1%;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width: 1200px){
    #Imagen1C {
        max-width: 90% !important;
    }
}
@media (max-width: 992px){
    #Imagen1C {
        max-width: 80% !important;
    }
}
@media (max-width: 768px){
    #Imagen1C {
        max-width: 70% !important;
    }
}
@media (max-width: 576px){
    #Imagen1C {
        max-width: 60% !important;
    }
}
@media (max-width: 490px){
    #Imagen1C {
        max-width: 50% !important;
    }
}
@media (max-width: 300px){
    #Imagen1C {
        max-width: 40% !important;
    }
}
@media (max-width: 100px){
    #Imagen1C {
        max-width: 20% !important;
    }
}
#Div1C{
    width: 95%;   
    font-size: 213%;
    font-family: monospace;
    padding: 5px 5px;
    text-align: left;
    margin-top: 0.01%;
    border-radius: 0%;
    border-start-end-radius: 0%;
    color: red;
} 
#Imagen1C{
    width: "320";
    height: "100";
}
@media (min-width: 900px){
    #Tabla2C{
        font-size: 30px;
        margin-top: 10%;
        margin-left: 5%;
    }
}
@media (max-width: 900px){
    #Tabla2C{
        font-size: 30px;
        margin-top: 10%;
        margin-left: 5%;
    }
}
@media (max-width: 720px){
    #Tabla2C{
        font-size: 30px;
        margin-top: 30%;
        margin-left: 5%;
    }
}
@media (max-width: 550px){
    #Tabla2C{
        font-size: 50px;
        margin-top: 40%;
        margin-left: 5%;
    }
}
@media (max-width: 300px){
    #Tabla2C{
        font-size: 50px;
        margin-top: 50%;
        margin-left: 5%;
    }
}
/*Fin*/

/*Pagina 5 Puntos de importancia*/ 
#BodyPI{
    background-image: url('../Multimedia/Imagenes/FondoOrg.jpeg');
    background-size: cover;
    background-position: top left;
}
@media (max-width: 800px){
    #BodyPI {
        background-image: url('../Multimedia/Imagenes/FondoCelular1PI.png');
    }
}
@media (max-width: 800px){
    #BodyPI {
        background-image: url('../Multimedia/Imagenes/FondoCelular2PI.PNG');
    }
}
#Seccion1PI{
    margin-top: 3%;
}
#Txt1PI{
    font-size: 46px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 6%;
    width: 100%;
}
#Imagen1PI{
    width: "100";
    height: "99";
}
#Imagen2PI{
    width: "100";
    height: "99";
}
#Txt2PI{
    width: 95%;   
    background-color: rgba(146, 144, 144, 0.5);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 5px;
    text-align: left;
    margin-top: 0.01%;
    border-radius: 0%;
    border-collapse: collapse;
    border-start-end-radius: 0%;
    width: 60%;
}
#Tabla2PI{
    font-size: 40px;
    text-align: left;
    margin-left: 65%;
}
#Tabla3PI{
    width: 35%; 
    border-collapse: collapse;
}
#Txt3PI{
    font-size: 20px;
    background-color: rgba(53, 52, 52, 0.404);
    width: 60%;
    margin-bottom: 10%;
}
/*Fin*/

/*Pagina 6 Estructuras*/
#BodyE{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2d2d2d;
    color: whitesmoke;
}
#HeadE{
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Txt1E{
    padding-left: 30px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Main1E{
    padding: 20px;
}
#Seccion1E{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
#DescripcionE{
    flex: 1;
    background-color: #616060;
    padding: 20px;
    border-radius: 10px;
}
#Div1E img{
    width: 100%;
    border-radius: 10px;
}
#TxtGeneralE{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
#Div2E{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}
#Seccion3E{
    text-align: center;
}
#Seccion3E video{
    width: 35%;
    border-radius: 10px;
}
#Seccion4E{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
#Seccion4E img{
    display: flex;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
@media (max-width: 768px) {
    #Seccion1E {
        flex-direction: column;
    }
    #Div2E {
        flex-direction: column;
    }
    #Div2E img {
        width: 100%;
    }
}
@media (max-width: 480px) {
    #HeadE {
        flex-direction: column;
        align-items: flex-start;
    }
    #DescripcionE {
        font-size: 25px;
    }
    #TxtGeneralE {
        font-size: 20px;
    }
    #Seccion3E video{
        width: 95%;
        border-radius: 10px;
    }
}
.carousel-item .container{
    width: 10%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carousel-item img{
    max-width: 50%; /* Ajusta el ancho máximo al 50% del contenedor */
    max-height: 50%; /* Ajusta la altura máxima */
    margin: 2% auto 2%; /* Centra las imágenes dentro del carrusel */
    object-fit: contain; /* Ajusta la imagen sin distorsionarla */
}
.carousel{
    position: relative;
    max-width: 80%; /* Igual al max-width de las imágenes */
    margin: auto; /* Centra el carrusel */
}
.carousel-control-prev, .carousel-control-next{
    width: 42%; /* Define un ancho razonable para las flechas */
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}
.carousel-control-prev{
    left: 5%; /* Ajusta la posición hacia la izquierda */
}
.carousel-control-next{
    right: 5%; /* Ajusta la posición hacia la derecha */
}
.badge{
    font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
    padding: 1rem; /* Aumenta el espacio interno */
    width: 80px; /* Ancho fijo para que todas sean uniformes */
    text-align: center; /* Asegura que el texto esté centrado */
}
/*Fin*/

/*Responsivo txt General*/
@media (max-width: 2000px){
    a, nav, div, p, h1, h2, td, th {
        font-size: 2rem !important;
    }
}

@media (max-width: 1200px){
    a, nav, div, p, h1, h2, td, th {
        font-size: 1.6rem !important;
    }
}

@media (max-width: 600px){
    a, nav,div, p, h1, h2, td, th {
        font-size: 0.7rem !important; 
    }
}

@media (max-width: 500px){
    a, nav, div, p, h1, h2, td, th {
        font-size: 0.6rem !important; 
    }
}

@media (max-width: 400px){
    a, nav, div, p, h1, h2, td, th {
        font-size: 0.6rem !important; 
    }
}

@media (max-width: 300px){
    a, nav, div, p, h1, h2, td, th {
        font-size: 0.4rem !important; 
    }
}

@media (max-width: 200){
    a, nav, div, p, h1, h2, td, th {
        font-size: 0.3rem !important; 
    }
}

@media (max-width: 100px){
    a, nav, div, p, h1, h2, td, th {
        font-size: 0.2rem !important; 
    }
}

@media (max-width: 50){
    a, nav, div, p, h1, h2, td, th {
        font-size: 0.1rem !important; 
    }
}

/*Fin*/
