/* Estilos generales */
body{
    overflow: hidden;
    background: none;
}
#navbarNav{
    text-align: left;
    border-collapse: collapse; 
}
div, li{
    margin-left: 15px;
}
a{
    display: inline-block;
    text-decoration: none;
    border: none;  
    list-style: none;
    color: white !important;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 0.7rem; 
}
a:hover{
    background-color: #0a5688 !important;
    box-shadow: 0 0px 7px rgb(150, 206, 223) !important;
}

@media (max-width: 2500px){
    a {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 1600px){
    a {
        font-size: 1rem !important;
    }
}

@media (max-width: 1200px){
    a {
        font-size: 1rem !important;
    }
}

@media (max-width: 992px){
    a {
        font-size: 0.7rem !important; 
    }
}
