/* Estilos generales */
body{
    overflow: hidden;
}
#Nav1G{
    text-align: center;
    background-color: black; 
    width: 99%; 
    border-collapse: collapse; 
    border: 10px solid black;
}
a{
    padding-left: 3%;
    padding-right: 3%;
    display: inline-block;
    text-decoration: none;
    border: none;  
    list-style: none;
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 0.7rem; 
}
a:hover{
    background-color: #0a5688;
    box-shadow: 0 0px 7px rgb(150, 206, 223);
}

@media (max-width: 2500px){
    a {
        font-size: 1.5rem;
    }
}

@media (max-width: 1600px){
    a {
        font-size: 1rem;
    }
}

@media (max-width: 1200px){
    a {
        font-size: 1rem;
    }
}

@media (max-width: 992px){
    a {
        font-size: 0.7rem; 
    }
}
