/*Pagina General*/
#Tabla1I{
    background-color: black; 
    width: 100%; 
    border-collapse: collapse; 
    border: 10px solid black;
}
a{
    display: inline-block;
    text-decoration: none; 
    border: none;  
    list-style: none;
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
}
a:hover{
    background-color: #0a5688;
    box-shadow: 0 0px 7px rgb(150, 206, 223);
}